<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="XFoilPath" value="d:\xfoil\xfoil.exe" />
    <add key="AirFoilPath" value="d:\airfoils\fx77w258.dat" />
    <add key="re" value="4E6" />
    <add key="ncrit" value="3.0" />
    <add key="alphamin" value="-10.0" />
    <add key="alphamax" value="10.0" />
    <add key="increment" value="1.0" />
  </appSettings>
</configuration>